:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #E5E5E5;
}

@media screen and (max-width: 900px) {
  .container{
    padding: 0 20px;  
  }
}