body {
    background: var(--bgSite);
}

.header {
    font-family: Montserrat-Medium;
}

.header__discount {
    align-items: center;
    background-color: var(--title);
    color: var(--white);
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    height: 60px;
    justify-content: center;
}

.header__title {
    color: var(--title);
    align-items: center;
    display: flex;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    height: 60px;
    justify-content: center;
}

.banner{
    position: relative;
}

.banner__image {
    background-attachment: fixed;
    background-image: url(../images/wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    filter: brightness(50%);
    height: 37.7rem;
}

.banner__information {
    color: var(--white);
    font-family: 'Montserrat-Medium';
    margin-left: 10.0rem;
    position: absolute;
    top: 130px;
    width: 45.0rem;
}

.information-title {
    font-size: 3.2rem; 
    font-weight: 700;
    margin-bottom: 19px;
}

.information-text {
    font-size: 1.8rem;
    line-height: 3.530rem;
}

.spotlight {
    color: var(--title);
    font-family: 'Montserrat-Medium';
    text-align: center;
}

.spotlight__title{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 6.278rem;
    margin-top: 58px;
}

.spotlight__text {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4.45rem;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.shoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shoes__card{
    align-items: center;
    background-color: var(--bgCard);
    cursor: pointer;
    display: flex;
    height: 30.0rem;
    justify-content: center;
    margin: 1.45rem 1.3rem;
    width: 30.0rem;
    position: relative;
}

.shoes__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #18181880;
}
      
.shoes__card:hover .shoes__overlay {
    opacity: 1;
}

.overlay-text {
    align-items: center;
    color: #FFF;
    display: flex;
    font-family: 'Montserrat-Medium';
    height: 100%;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.footer {
    align-items: center;
    background-color: #181818;
    color: var(--bgSite);
    display: flex;
    font-family: 'Montserrat-Medium';
    font-size: 1.8rem;
    height: 60px;
    justify-content: center;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .header__discount{
        font-size: 1.6rem;
    }
    
    .banner__image {
        background-attachment: scroll;
    }
    .banner__information{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        top: 104px;
        width: auto;
    }

    .information-title {
        font-size: 2.8rem;
        line-height: 3.413rem;
        margin-bottom: 12px;
    }

    .information-text {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .container, .shoes__card {
        width: 100%;
    }

    .spotlight__title {
        font-size: 2.8rem;
        margin-bottom: 5px;
    }

    .spotlight__text {
        font-size: 1.6rem;
        padding: 0px 40px;
    }

    .shoes__item {
        width: 250px;
    }

    .footer {
        margin-top: 50px;
    }
}