* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    position: relative;
}

.container {
    margin-bottom: 250px;
}

#logo {
    left: 9.5%;
    position: absolute;
    top: 10px;
}

#logo img{
    width: 50px;
}

.navbar {
    align-items: center;
    background-color: #161616;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;
}

.navbar li{
    margin: 0 10px;
    padding: 5px;
}

.navbar .navbar__link{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: .5s;
}

.navbar .navbar__link:hover {
    color: #999;
}

.container__title {
    margin-top:  30px;
    min-width: 500px;
    text-align: center;
}

.container__title h1 {
    font-size: 50px;
}

.container__title p {
    color: #999;
    margin-top: 10px;
    text-transform: uppercase;
}

.container__posts{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1200px;
}

.post__box:first-child {
    min-width: 100%;
}

.post__box:nth-child(3) {
    margin: 0 1%;
}

.post__box {
    flex: 1 1 0;
    margin-bottom: 20px;
}

.post__box img {
    width: 100%;
}

.post__box .post__title {
    font-size: 24px;
    margin: 10px 0;
}

.post__box .post__title a{
    color: #000;
    transition: .5s;
}

.post__box .post__title a:hover{
    color: #999;
}

.post__box .post__description {
    color: #666;
}

.tags-container {
    margin-top: 10px;
}

.tags-container a {
    color: #333;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
}

.content-container  {
    display: grid;
    gap: 10px;
    grid-template-areas:"main sidebar" ;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    margin: 0 auto;
    margin-bottom:250px;
    max-width: 1200px;
    padding-top: 30px;
}

.post {
    grid-area: main;
}

#main-title {
    font-size:36px;
    margin-bottom: 40px;
}

.post__description {
    font-style: italic;
    margin-bottom: 40px
}

.post__content {
    line-height: 1.8;
    margin: 10px 0;
}

.img-container {
    margin-bottom: 30px;
}

.img-container img{
    width: 60%;
}

.nav-container {
    grid-area: sidebar;
}

.tags-title, .categories-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 300;
}

.tag-list, .categories-list {
    list-style: none;
}

.tag-list li, .categories-list li{
    margin-bottom: 10px;
}

.tag-list a, .categories-list a{
    color: #666;
    transition: .5s;
}

.tag-list a:hover, .categories-list a:hover{
    color: #000;
}


footer {
    background-color: #161616;
    bottom: 0;
    color: #fff;
    padding: 50px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

@media(max-width: 700px) {
    /*HOME*/
    header{
        width: 100%;
    }

    #logo{
        display:block;
        position: relative;
        margin: 0 auto;
        left: 0;
        width: 50px;
    }

    .navbar {
        display: none;
    }

    .container__title {
        min-width: 100%;
        margin-top: 20px;
    }

    .container__posts {
        margin-top: 20px;
    }

    .post__box{
        flex: 100% 1 0;
        padding: 15px;
        margin: 0;
    }

    /*HOME*/
    .content-container  {
        grid-template-columns: 100%;
        padding: 15px;
        grid-template-areas: "main" "sidebar";
    }

    .img-container img {
        width: 100%;
    }
}